<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(function () {
                if ({{ status }}==1)
        {
            $(".user_error").html('用户名错误')
        }
                if ({{ status }}==2)
        {
            $(".user_error").html('密码错误')
        }
    });

    </script>
</head>

<body>
{% csrf_token %}
	<div class="login_top clearfix">
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl"> 随便吧</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form method="post" action="/login/">
                        {% csrf_token %}
						<input type="text" name="username" id="username"  class="name_input" placeholder="请输入用户名">
						<div class="user_error"></div>
						<input type="password" name="pwd" id="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">{{b}}</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="reb">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
                        <button id="login" class="input_submit">登录</button>
					</form>
                <form action="/login/" method="post">
                {% csrf_token %}
                    {% if request.COOKIES.username %}
                        <button class="input_submit_2" name="COOKIES" value="1">{{request.COOKIES.username}}一键登录</button>
                    {% endif %}
                </form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>