<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>我喜欢</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block js %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <script type="text/javascript" src="/static/js/love.js"></script>
    {% endblock %}
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到我的动漫!</div>
			<div class="fr">
				<div class="login_btn fl">
                <li id="longin">
                <a href='#'>登录</a>
                <span>|</span>
                    <a href='#'>注册</a>
                </li>


				</div>

		  </div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
</div>
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
                {% block class %}
				<h1>我的收藏</h1>
                {% endblock %}
			</div>
            <ul class="navlist fl">
				<li><a href="/dm/" ;">首页</a></li>
			</ul>
	  </div>
	</div>
    {% block classif %}
	<div class="breadcrumb">
		<a href="/dm/">全部动漫</a>
		<span>></span>
		<a href="#">我的收藏</a>
	</div>
    {% endblock %}
	<div class="main_wrap clearfix">
    <div class="goods_banner fl"><img src="/static/images/banner04.png"></div>
	  <div class="r_wrap fr clearfix">

			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
      {% block content %}
			<ul id="Collection" class="goods_type_list clearfix">
                    {% for a in dm %}
                        <li>
					<a href="{{a.web}}"><img src="/{{a.l_ing}}"></a>
					<h4><a href="{{a.web}}">{{a.name}}</a></h4>
					<div class="operate">
						<span class="prize">提取码</span>
						<span class="unit">{{ a.code }}</span>
                        <form action="/love/" method="post">
                            {% csrf_token %}
                    <button name="del" value="{{a.id}}">删除收藏</button>

                    </form>

					</div>
                {% endfor %}
				</li>
                </ul>
                {% endblock %}
			<div class="pagenation">
				<a href="#"><上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
	  </div>
</div>

	</body>
</html>